<div class="container">
  <form class="col-sm-6 form-signin" [formGroup]="userForm" (ngSubmit)="login()">
    <p class="alerts-panel" *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
    </p>
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="email">Email</label>
    <input type="email" id="email" class="form-control" formControlName="email" placeholder="user@example.com" required>

    <div *ngIf="formErrors.email" class="help-block text-danger">
      {{ formErrors.email }}
    </div>

    <label for="password" class="mt-2">Password</label>
    <input type="password" id="password" class="form-control" formControlName="password" placeholder="∙∙∙∙∙∙∙∙∙∙∙∙" required>

    <div *ngIf="formErrors.password" class="help-block text-danger">
      {{ formErrors.password }}
    </div>

    <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="!userForm.valid">Login</button>

    <button *ngIf="userForm.controls.email.valid" class="btn btn-link btn-block" [ngClass]="{ 'disabled': passReset }" (click)="resetPassword()">
      <span *ngIf="!passReset">Reset Password for {{userForm.value.email}}?</span>
      <span *ngIf="passReset">Reset requested. Check your email.</span>
    </button>
  </form>
</div>