<div class="container col-sm-10">
  <div class="jumbotron pt-5 pb-5 text-center">
    <h1 class="portal-logo"><i class="fa fa-paw"></i></h1>
    <p class="lead mt-3 mb-5">{{description}}</p>
    <div *ngIf="auth.user | async; then authenticated else guest">
    </div>
    <ng-template #guest>
      <a class="btn btn-lg btn-primary" routerLink="/login" role="button">
        <i class="fa fa-chevron-circle-right"></i> Login
      </a>
    </ng-template>
    <ng-template #authenticated>
      <a class="btn btn-lg btn-success" [routerLink]="getStartedRoute" role="button">
        <i class="fa fa-chevron-circle-right"></i> Get Started
      </a>
    </ng-template>
  </div>
</div>