<div class="container">
  <div class="portal-header">
    <div class="portal-logo">
      <!-- <img src="./assets/img/client-logo.png" alt="Client Form Logo" /> -->
    </div>
    <br>
    <div class="lead">{{editMode ? 'Edit' : 'Create New'}} Client</div>
  </div>
  <div class="card mt-4">
    <div class="card-header">
      <ul class="nav justify-content-start">
        <div>
          <p class="mb-0">
            {{editMode ? 'New Client' : 'Edit Client'}}
          </p>
        </div>
        <div class="ml-auto">
          <button type="reset" (click)="revert()" [disabled]="clientForm.pristine" class="btn btn-danger">Revert</button>
          <button type="submit" (click)="onSubmit()" [disabled]="clientForm.pristine || !clientForm.valid" class="btn btn-success"><i class="fa {{editMode ? 'fa-save' : 'fa-user-plus'}} mr-1"></i>{{editMode ? 'Save' : 'Create'}} Client</button>
        </div>
      </ul>
    </div>
    <div class="card-body col-md-12">
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group" *ngIf="editMode">
          <button class="btn btn-primary pull-right" [hidden]="editMode || client.active" (click)="pin()"><i class="fa fa-pin mr-1"></i>Pin</button>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="first_name" class="form-label">First Name</label>
            <input class="form-control" name="first_name" formControlName="first_name">
            <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="invalid-feedback">
              <div *ngIf="first_name.errors.required">
                First Name is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="last_name" class="form-label">Last Name</label>
            <input class="form-control" name="last_name" formControlName="last_name">
            <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)" class="invalid-feedback">
              <div *ngIf="last_name.errors.required">
                Last Name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="address" class="form-label">Address</label>
            <input class="form-control" name="address" formControlName="address">
          </div>
          <div class="form-group col-md-3">
            <label for="primary_phone" class="form-label">Primary Phone</label>
            <input class="form-control" name="primary_phone" formControlName="primary_phone">
          </div>
          <div class="form-group col-md-3">
            <label for="secondary_phone" class="form-label">Secondary Phone</label>
            <input class="form-control" name="secondary_phone" formControlName="secondary_phone">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="veterinarian" class="form-label">Veterinarian</label>
            <input class="form-control" name="veterinarian" formControlName="veterinarian">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="comments" class="form-label">Comments</label>
            <textarea class="form-control mb-1" name="comments" formControlName="comments" lines="2"></textarea>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Pet Editor -->
  <div class="card mt-4">
    <div class="card-header">
      <ul class="nav justify-content-start">
        Pets
        <!-- Edit Mode Buttons -->
        <ng-container *ngIf="petForm.disabled">
          <button type="button" class="btn btn-primary ml-auto" (click)="petForm.enable()"><i class="fa fa-plus-circle mr-1"></i>Add New Pet</button>
        </ng-container>
        <!-- New Mode Buttons -->
        <ng-container *ngIf="!petForm.disabled">
          <div class="ml-auto">
            <button class="btn btn-warning" role="button" (click)="disableAndResetForm(petForm)">
              Cancel
            </button>
            <button type="submit" (click)="savePet(petForm)" [disabled]="petForm.pristine || !petForm.valid" class="btn btn-success"><i class="fa fa-save mr-1"></i>Save</button>
          </div>
        </ng-container>

      </ul>
    </div>
    <div class="d-flex justify-content-center" *ngIf="(editId == undefined && pets.length == 0) && petForm.disabled">
      <div class="my-3" role="group">
        <span>No Pets</span>
      </div>
    </div>
    <form [formGroup]="petForm" class="list-group list-group-flush" novalidate>
      <ng-container *ngIf="!petForm.disabled">
        <div class="list-group-item justify-content-between">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name" class="form-label">Name</label>
              <input class="form-control" name="name" formControlName="name">
            </div>
            <div class="form-group col-sm-3">
              <label for="age" class="form-label">Age</label>
              <input class="form-control" name="age" formControlName="age">
            </div>
            <div class="form-group col-sm-3">
              <div class="dynamic-field form-select">
                <label for="sex" class="form-label">Sex</label>
                <select class="form-control" name="sex" formControlName="sex">
                  <option value="">Choose...</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="breed" class="form-label">Breed</label>
              <input class="form-control" name="breed" formControlName="breed">
            </div>
            <div class="form-group col-sm-6">
              <label class="form-label">Accessories</label>
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <label class="form-check-label ml-3 mr-5">
                    <input class="form-check-input" type="checkbox" formControlName="bow"> Bows
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" formControlName="bandana"> Bandana
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="notes" class="form-label">Notes</label>
              <textarea class="form-control mb-1" name="notes" formControlName="notes" lines="2"></textarea>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let pet of pets.value; let i=index">
        <a class="list-group-item list-group-item-action d-flex w-100 justify-content-between">
          <div>
            <h6 class="mb-0">{{pet.name}}</h6>
            <small class="text-muted">{{pet.sex}}</small>
          </div>
          <button class="btn btn-primary" role="button" (click)="editId = i">
            <i class="fa fa-edit"></i>
          </button>
        </a>
      </ng-container>
    </form>
  </div>
  <br />
  <pre>Client value: {{ client | json }}</pre>
  <pre>Client Form: {{ clientForm.value | json }}</pre>
  <pre>Pet Form: {{ petForm.value | json }}</pre>
  <pre>clientForm status: {{ clientForm.status | json}}</pre>
</div>
