<div class="container">
  <p class="alerts-panel" *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
  </p>
  <div class="portal-header">
    <div class="lead">All Clients</div>
  </div>
  <div class="card mt-4" *ngIf="listItems | async; let items;">
    <div class="card-header">
      <ul class="nav justify-content-start">
        <form class="form-inline my-2 my-lg-0">
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Search Clients" aria-label="Search Clients" [(ngModel)]="searchFilter" (keyup.enter)="updateParam('search', searchFilter)" (keyup)="searchChanged($event)" name="search" placement="top" ngbTooltip="Not yet available..."
              disabled>
            <span class="input-group-btn">
              <button class="btn btn-primary disabled" type="button" (click)="updateParam('search', searchFilter)" *ngIf="showSearchButton()"><i class="fa fa-search"></i></button>
              <button class="btn btn-primary disabled" type="button" (click)="updateParam('search', '')" *ngIf="!showSearchButton()"><i class="fa fa-times"></i></button>
            </span>
          </div>
        </form>
        <button type="button" class="btn btn-primary ml-auto" (click)="createNewItem()"><i class="fa fa-plus-circle"></i> New Client</button>
      </ul>
    </div>
    <div class="d-flex justify-content-center">
      <div class="my-3" role="group" *ngIf="searchFilter">
        <span [innerHTML]="getSearchPrompt()"></span>
      </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="items?.length == 0">
      <div class="my-3" role="group">
        <span>No clients exist with last name starting with {{this.params.letter}}</span>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-action d-flex justify-content-between" *ngFor="let item of items" (click)="listItemClicked(item.id)">
        <div>
          <span>{{item.first_name}} {{item.last_name}}</span><br>
          <small *ngIf="item.first_name" class="text-muted">{{item.primary_phone}}</small>
        </div>
        <div class="d-flex align-items-start">
          <button (click)="togglePin($event, item)" class="btn {{item.pinned ? 'btn-primary' : 'btn-outline-primary'}}"><i class="fa fa-thumb-tack mr-1"></i>{{item.pinned ? 'Unpin' : 'Pin'}}</button>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-center align-items-baseline">
      <div class="d-inline-block">
      </div>
      <nav aria-label="Alphabetic client pagination">
        <span class="text-muted">Filter by last name</span>
        <ul class="pagination mt-1">
          <li class="page-item" *ngFor="let letter of alphabet" [ngClass]="{'active': this.params.letter === letter}">
            <a class="page-link" (click)="setAlphaFilter(letter)">{{letter}}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>