<div class="container">
  <div class="portal-header">
    <div class="lead">Today's Clients</div>
  </div>
  <div class="card mt-4" *ngIf="listItems | async; let items;">
    <div class="d-flex justify-content-center" *ngIf="items?.length == 0">
      <div class="my-3" role="group">
        <span>No clients pinned. Would you like to <a routerLink="/clients">view all clients</a>?</span>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item list-group-item-action d-flex justify-content-between" *ngFor="let item of items" (click)="listItemClicked(item.id)">
        <div>
          <span>{{item.first_name}}</span><br>
          <small *ngIf="item.first_name" class="text-muted">{{item.first_name}}</small>
        </div>
        <div class="d-flex align-items-start">
          <p>Right</p>
        </div>
      </div>
    </div>
  </div>
</div>
