<div class="container">
  <form class="col-sm-4 change-password" (ngSubmit)="changePassword(passwordForm)" #passwordForm="ngForm">
    <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div>
    <div class="alert alert-success" *ngIf="success">
      {{ success }}
    </div>
    <h2>Change your password</h2>
    <div class="form-group">
      <label for="currentPassword">Current Password</label>
      <input type="password" id="currentPassword" class="form-control" placeholder="Current Password" autofocus="" [(ngModel)]="passwordFormModel.currentPassword" name="currentPassword" required>
    </div>
    <div class="form-group" [ngClass]="{ 'has-success': newPassword.dirty && passwordErrors.length < 1  }">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" class="form-control" [ngClass]="{ 'form-control-success': newPassword.dirty && passwordErrors.length < 1  }" placeholder="New Password" [(ngModel)]="passwordFormModel.newPassword" (ngModelChange)="testPassword()"
        #newPassword="ngModel" name="newPassword" required>
      <div class="form-control-feedback text-muted my-2" [hidden]="newPassword.dirty" id="passwordHelpBlock">
        Your password must be 6-128 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
      </div>
      <div class="form-control-feedback" style="margin-top:0.5rem!important;" [hidden]="newPassword.pristine || passwordErrors.length < 1">
        <!-- TODO: <ngb-progressbar type="{{ passwordErrors.length === 0 ? 'success' : 'warning' }}" [value]="(5-passwordErrors.length)/5*100" [striped]="true"></ngb-progressbar> -->
        <div *ngFor="let error of passwordErrors" class="form-text text-danger">
          {{ error }}
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-success': verifyPassword.dirty && passwordFormModel.newPassword === passwordFormModel.verifyPassword  }" *ngIf="newPassword.dirty && passwordErrors.length === 0">
      <label for="verifyPassword">Verify Password</label>
      <input type="password" id="verifyPassword" class="form-control" [ngClass]="{ 'form-control-success': verifyPassword.dirty && passwordFormModel.newPassword === passwordFormModel.verifyPassword  }" placeholder="Verify Password" [(ngModel)]="passwordFormModel.verifyPassword"
        name="verifyPassword" #verifyPassword="ngModel" required>
      <div [hidden]="verifyPassword.pristine || passwordFormModel.newPassword === passwordFormModel.verifyPassword" class="form-control-feedback text-danger">
        Passwords do not match.
      </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-refresh"></i> Change Password</button>
  </form>
</div>