.forgot-password {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#newPassword {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#verifyPassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
